/* Applications kanban */
.application_kanban_phone {
  font-size: 120%;
}

.application_kanban_quality {
  float: right;
}

.application_kanban_name {
  font-size: 120%;
  font-weight: bold;
}

.application_kanban_card {
  min-height: 90px;
}

.meeting_date_link, .rejected_link {
  font-weight: bold;
}

/* Offer form */
.coordinate_fields {
  display: none !important;
}

.kanban_offer_status_action {
  margin-top: 1em;
}

.application_kanban_meeting .status-accepted {
    color: green;
}

.application_kanban_meeting .status-rejected {
    color: red;
}
