@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400&subset=latin,latin-ext);

/* Common css */
#wrap, section{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    overflow-x: hidden;
}

.open_sans_bold{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

section .container-fluid{
    margin-left: 80px;
    margin-right: 80px;
}

@media screen and (max-width: 991px) {
    section .container-fluid{
        margin-left: 0;
        margin-right: 0;
    }
}

a{
    color: #F29000;
    text-decoration: none;
}

a:focus, a:hover{
    color: #F9A426;
    text-decoration: none;
}

h1, .h1{
    font-size: 36px;
}

h2, .h2{
    font-size: 24px;
    font-weight: bold;
}

h3, .h3{
    font-size: 20px;
}

h4, .h4{
    font-size: 18px;
}

h5, .h5{
    font-size: 16px;
}

h6, .h6{
    font-size: 14px;
}

/* Navbar font modification */
.navbar-static-top{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.dropdown-menu > li > a{
    font-size: 16px;
    font-weight: 600;
}

/* End of Navbar font modification */
/* End of Common css */

/* Centered columns styles */
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}
/* End of Centered columns styles */
/* End of Common css */

/* FPBZ Theme module description */
.theme_description{
    overflow: hidden;
}
/* End of FPBZ Theme module description */

/* Main top snippet */
.introduction{
    background: #777777 url('http://lorempixel.com/g/1920/1080')
        no-repeat 50% 0%;
    background-size: cover;
    position: relative;
    color: #FFFFFF;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.introduction > div{
    margin-left: 0;
    margin-right: 0;
}

.introduction_headers{
    color: white;
    font-style: normal;
    margin-top: 95px;
}

.introduction_headers h1{
    font-size: 36px;
}

.choose_place{
    display: inline-block;
    padding: 10px;
    border: 1px solid #F29000;
    opacity: .8;
    margin-top: 64px;
    margin-bottom: 64px;
    color: #F29000;
}

.choose_place:hover{
    opacity: 1;
    cursor: pointer;
}

#down_arrow_scroll{
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.arrow_img{
    width: 6%;
    margin-left: 4px;
}

@media screen and (max-width: 991px) {
    .introduction_headers{
        margin-top: 0;
    }

    .introduction_headers h1, .choose_place{
        font-size: 26px;
    }

    .choose_place{
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .arrow_img{
        width: 8%;
    }
}

@media screen and (max-width: 767px) {
    .introduction_headers h1, .choose_place{
        font-size: 22px;
    }

    .arrow_img{
        width: 12%;
    }
}

@media screen and (max-width: 480px) {
    #down_arrow_scroll{
        display: none;
    }

    .introduction_headers h1, .choose_place{
        font-size: 20px;
    }

    .choose_place{
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .arrow_img{
        width: 16%;
    }
}
/* End of main top snippet */

/* Section title snippet */
.section_title{
    color: #777777;
}

@media screen and (max-width: 991px) {
    .section_title{
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .section_title{
        font-size: 26px;
    }
}

@media screen and (max-width: 480px) {
    .section_title{
        font-size: 22px;
    }
}
/* End of Section title snippet */

/* Section Join Us */
.join_us button{
    min-width: 350px;
    background-color: #3c4049;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 700;
    border-radius: 80px 80px 80px 80px;
    -moz-border-radius: 80px 80px 80px 80px;
    -webkit-border-radius: 80px 80px 80px 80px;
    padding-left: 130px;
    padding-right: 130px;
}

.join_us button:hover{
    background-color: #db901f;
    color: #3c4049;
}
/* End of Section Join Us */

/* Snippet: Why is it worth to act with us */
.data_of_acts{
    height: 486px;
}

@media screen and (max-width: 1200px){
    .why_act_with_us_picture_container{
        display: table-cell;
        min-height: 450px;
    }

    .data_of_acts{
        height: 450px;
    }

    .why_act_with_us_picture_container img{
        margin-top: 32px;
    }
}

@media screen and (max-width: 991px){
    .why_act_with_us_picture_container img{
        margin-top: 0;
    }
}

.data_of_acts h2{
    font-weight: 300;
}

.data_icons{
    float: left;
    width: 60%;
    height: 60%;
    margin: 30px;
    margin-right: 70px;
    display: block;
}

.why_act_with_us button{
    min-width: 290px;
    background-color: #EC8D17;
    color: #FFFFFF;
    font-size: 20px;
}
/* End of snippet: Why is it worht to act with us */

/* Snippet: Map with cities with places where we can help */
text:hover{
    color: #db901f;
}
.map_of_poland_section{
    margin-bottom: 40px;
}

.map_of_poland_section a, .map_of_poland_section a:hover{
    text-decoration: none;
}

.map_of_poland_container{
    text-align: right;
}

.description_of_map_container{
    position: relative;
    height: 550px;
    margin-left: 30px;
}

.description_of_map_container div{
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
}

.description_of_map_container p{
    font-size: 18px;
}

.description_of_map_container a{
    color: #F29000;
}

@media screen and (max-width: 991px) {
    .map_of_poland_container{
        text-align: center;
    }

    .description_of_map_container{
        text-align: center;
        margin-left: 30px;
        height: 100%;
    }

    .description_of_map_container div{
        text-align: center;
        position: relative;
    }
}

.map_object{
    max-width: 600px;
}
/* End of snippet: Map with cities with places where we can help */

/* Snippet: a big quote */
.quote_div blockquote{
    font-size: 24px;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    height: 100%;
    border: 0;
    margin: 0 auto;
}
.quote_div blockquote:before{
    content: "„";
    font-weight: 700;
    font-style: normal;
    font-size: 50pt;
    color: #F29000;
    position: absolute;
    left: -15px;
    top: -30px;
}

.quote_div blockquote:after{
    content: "”";
    font-weight: 700;
    font-style: normal;
    font-size: 50pt;
    color: #F29000;
    position: absolute;
    right: -15px;
    bottom: -15px;
}

.description_under_quote{
    display: block;
    font-size: 24px;
    color: #F29000;
    margin-left: 23px;
}
/* End of snippet: a big quote */

/* Snippet: recrutation steps */
.recrutation_step_number{
    display: block;
    width: 70px;
    font-size: 50px;
    font-weight: 700;
    color: #777777;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 2px solid #777777;
    margin: 0 auto;
}

.recrutation_step_number{
    margin-top: 40px;
}

.recrutation_step_column h3{
    font-size: 24px;
    font-weight: 700;
}

.recrutation_step_column p{
    font-size: 18px;
    color: #777777;
}

@media screen and (max-width: 440px) {
    .recrutation_step_column{
        width: 100%;
    }
}
/* End of snippet: recrutation steps */

/* Carousel navigation buttons */
.nav_left, .nav_right{
    text-indent: -9999px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 80px 2px 0 0;
}
.nav_left{
    background: url("/bestja_frontend_fpbz/static/src/img/content/poprzedni-01.svg") no-repeat scroll left top transparent;
    position: absolute;
    top: 10px;
    left: -55px;
}

.nav_right{
    background: url("/bestja_frontend_fpbz/static/src/img/content/nastepny-01.svg") no-repeat scroll left top transparent;
    position: absolute;
    top: 10px;
    right: -55px;
}
/* End of Carousel navigation buttons */

/* Snippet: volunteeres pictures */
.slider_container{
    width: 1890px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
}

.carousel_column{
    width: calc(1920px / 3 - 30px);
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (max-width: 1920px) {
    .slider_container{
        width: 1140px;
    }

    .carousel_column{
        width: calc(1170px / 3 - 30px);
    }
}

@media screen and (max-width: 1200px) {
    .slider_container{
        width: 961px;
    }

    .carousel_column{
        width: calc(961px / 3 - 30px);
    }
}

@media screen and (max-width: 991px) {
    .slider_container{
        width: 737px;
    }

    .carousel_column{
        width: calc(737px / 3 - 30px);
    }
}

@media screen and (max-width: 767px) {
    .slider_container{
        width: 450px;
    }

    .carousel_column{
        width: calc(450px / 3 - 30px);
    }
}

@media screen and (max-width: 480px) {
    .slider_container{
        width: 290px;
    }

    .carousel_column{
        width: calc(290px / 3 - 30px);
    }
}

.slider_container h3{
    font-size: 24px;
    font-weight: 700;
    color: #F29000;
    text-align: left;
}

.slider_container p{
    font-size: 18px;
    text-align: left;
    color: #777777;
}
/* End of snippet: volunteeres pictures */

/* Tasks snippet*/
.the_tasks_of_coordinator div, .the_tasks_of_volunteer div{
    vertical-align: top;
}

.the_tasks_of_coordinator h4, .the_tasks_of_volunteer h4{
    font-size: 18px;
    font-weight: 700;
    text-align: left;
}
/* End of Tasks snippet*/

/* Become partner top snippet */
.become_partner p{
    font-size: 32px;
}

@media screen and (max-width: 992px) {
    .become_partner p{
        font-size: 26px;
    }
}

@media screen and (max-width: 767px) {
    .become_partner p{
        font-size: 22px;
    }
}

@media screen and (max-width: 480px) {
    .become_partner p{
        font-size: 16px;
    }
}

.become_partner_link p{
    padding-left: 15px;
    font-size: 26pt;
    text-decoration: none;
    color: #F29000;
}
/* End of Become partner top snippet */

/* What partner receives snippet */
.what_partner_receives li, .advantages_of_application li{
    font-size: 24px;
    list-style: none;
}

.what_partner_receives span, .advantages_of_application span{
    margin-right: 10px;
}
/* End of What partner receives snippet */

/* Offers snippet */
.date_of_the_offer, .content_of_the_offer{
    background-color: #F0F0F0;
}

.offer_where{
    padding: 25px;
}

.offers_day_of_the_week{
    font-size: 16px;
    color: #6C6C6C;
}

.offers_the_day{
    font-size: 40px;
    color: #3C4049;
}

.offers_the_month{
    font-size: 16px;
    color: #3C4049;
}

.title_of_the_offer a{
    color: #DB901F;
    text-decoration: none;
    cursor: pointer;
    font-size: 22px;
}

.title_of_the_offer a:hover{
    color: #F9A426;
}

.organization_name a{
    color: #6C6C6C;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
}

.organization_name a:hover{
    color: #3C4049;
}

.offer_where{
    text-align: right;
    color: #3C4049;
    font-size: 14px;
}

.offer_how_long, .offer_place{
    display: inline-block;
    color: #3C4049;
}

.offer_place:before, .offer_how_long:before{
    float: left;
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 10px;
}

.offer_place:before{
    background: url('/bestja_frontend_fpbz/static/src/img/content/miejsce-01.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.offer_how_long:before{
    background: url('/bestja_frontend_fpbz/static/src/img/content/czas-01.svg');
    background-size: 20px 20px;
    background-repeat: no-repeat;

}

@media screen and (max-width: 1199px) {
    .date_of_the_offer, .content_of_the_offer{
        height: 200px;
    }

    .offer_where{
        padding: 20px;
    }
}

@media screen and (max-width: 991px) {
    .date_of_the_offer, .content_of_the_offer{
        height: 150px;
    }

    .content_of_the_offer h2{
        margin-top: 10px;
    }

    .offer_where{
        padding: 10px;
    }
}

@media screen and (max-width: 767px) {
    .date_of_the_offer, .content_of_the_offer{
        height: 200px;
    }
}

@media screen and (max-width: 480px) {
    .title_of_the_offer a{
        font-size: 18px;
    }

    .organization_name a, .offer_where p{
        font-size: 14px;
    }

    .offer_where{
        padding: 0;
    }

    .offer_place, .offer_how_long{
        float: left;
        text-align: left;
    }

    .offer_place{
        width: 70%;
    }

    .offer_how_long{
        width: 30%;
    }
}
/* End of Offers snippet */

/* Regulations site */
.regulations p, .privacy_policy p{
    font-size: 20px;
    text-indent: 26px;
}

.regulations_nav, .privacy_policy_nav {
    position: fixed;
}

.regulations_nav li, .privacy_policy_nav  li{
    float: none;
    max-width: 80%;
}

@media screen and (max-width: 991px) {
    .regulations_nav, .privacy_policy_nav {
        position: relative;
    }
    .regulations_nav li, .regulations_nav li + li,
    .privacy_policy_nav li, .privacy_policy_nav  li + li{
        float: left;
        margin-top: 8px;
    }
}
@media screen and (max-width: 440px) {
    .regulations p, .privacy_policy p,
    .regulations li, .privacy_policy li{
        font-size: 16px;
    }
}
/* End of Regulations site */

/* Cookie reminder */
#cookie_reminder_container{
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    position: fixed;
    padding: 10px 20px;
    padding-right: 40px;
    bottom: 0;
    background-color: #D98100;
    z-index: 1000;
    opacity: .95;
}

.cookie-info{
    max-width: 1300px;
    margin: 0 auto;
}

.cookie-info span{
    display: inline-block;
}

#cookie_reminder_close{
    position: absolute;
    top: 10px;
    right: 17px;
}

#cookie_reminder_close:hover{
    color: #000000;
    cursor: pointer;
}
/* End of Cookie accept */

/* Animations */
.fadeIn{
    opacity: 0;
}

.fadeInRight{
    margin-right: -100%;
    opacity: 0;
}

.fadeInLeft{
    margin-left: -100%;
    opacity: 0;
}

.fadeInBottom{
    margin-top: -100%;
    opacity: 0;
}

.fadeInTop{
    margin-bottom: -100%;
    opacity: 0;
}

.maximize{
    width: 0;
    height: 0;
    opacity: 0;
}
/* End of animations*/


/* Slick Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-prev, .slick-next{
    margin-top: 15px;
    background-color: #3c4049;
    color: #FFFFFF;
}

.slick-prev:hover, .slick-next:hover{
    background-color: #db901f;
    color: #3c4049;
}
/* End of Slick Slider */

/* Custom settings for offers pages */
.print_icon:hover{
    background-image: url('/bestja_frontend_fpbz/static/src/img/content/printer_hover.svg');
}

.btn_join:hover{
    background-color: #F9A426;
}

/* End of custom settings for offers pages */