#birthdate_day {
    width: 50px;
}

#birthdate_month {
    width: 50px;
}

#birthdate_year {
    width: 80px;
}

#error-birthdate {
    display:none;
}

.has-error #error-birthdate {
    display: block;
}

.field_desc {
    font-size: 12px;
    color: #737373;
}