.state {
    color: #3366FF;
}

.oe_inline + .oe_grey {
    margin-left: 1em;
}

.oe_title {
    margin-bottom: 25px;
}

.oe_title h1 input[type="text"] {
  width: 600px !important;
}

.oe_horizontal_separator.oe_inline {
    display: inline;
    line-height: 2.5;
}

/* (i) icons after labels with help text */
.oe_form_label_help:after {
    font-family: FontAwesome;
    content: "\f05a";
    font-size: 150%;
    color: #bbb;
    padding: 10px;
}

/* Fix odoo's horizontal radio buttons */
.oe_form_field_radio.oe_horizontal div {
    text-align: center;
    display: inline-block;
}

/* Horizontal checkboxes */
.horizontal_checkboxes div {
    display: inline-block;
    margin-right: 15px;
}

.horizontal_checkboxes input {
    margin: 0;
}

/* Form Header without form sheet */
.openerp .oe_form_nosheet header {
    margin-bottom: 15px;
}

/* make error messages more visible */
.ui-state-error.ui-notify-message {
    background-color: red;
}

/* smart button with wrappable content */
.stat_button_wrap, .stat_button_wrap * {
    white-space: normal !important;
}

.larger {
    font-size: 120%;
}

/* Fix for problem with odoo's datepicker width */
.ui-datepicker {
    width: auto !important;
}

/* Kanban Cards */
.bestja_kanban_title {
  font-size: 20px;
  font-weight: bold;
}

.bestja_kanban_card {
  width: 355px;
  height: 165px;
}

.bestja_kanban_justgage {
  position: absolute;
  bottom: 0;
  right: 0;
}

.bestja_kanban_justgage {
  position: absolute;
  bottom: 0;
  right: 0;
  width:160px;
  height: 120px;
}

.bestja_kanban_card a:hover {
  text-decoration: underline !important;
}

.bestja_kanban_related {
  position: absolute;
  bottom: 0;
  font-size: 14px;
}

.bestja_kanban_related span,
.bestja_kanban_status span {
  font-size: 150%;
}

.bestja_kanban_status {
    margin-top: 15px;
}

/* form inputs */
.medium_input .oe_form_field,
.medium_input.oe_form_field {
  width: 300px !important;
}

.short_input .oe_form_field,
.short_input.oe_form_field {
  width: 100px !important;
}
