<openerp>
    <data>
        <menuitem sequence="0" id="menu_bestja" name="BestJa"/>
        <!-- Add Messages menu item to BestJa -->
        <menuitem name="Messaging" id="mail.mail_feeds" parent="bestja_base.menu_bestja" sequence="0"/>
        <delete id="mail.mail_feeds_main" model="ir.ui.menu"/>
    </data>
</openerp>
