@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic&subset=latin,latin-ext);

/* Common css */
#top_menu li:first-child{
    display: none;
}

#wrap, section{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

a{
    color: #F59A1E;
}

a:hover, a:focus{
    color: #982582;
    text-decoration: none;
}

.button_orange, .button_more_contrast{
    background-color: #F59A1E;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 0;
    height: 60px;
    font-size: 24px;
    font-weight: 700;
}

.button_orange:hover{
    background-color: #982582;
    color: #FFFFFF;
}

.button_more_contrast:hover{
    background-color: #FF43DF;
    color: #FFFFFF;
}

/* Headings settings */
h1, .h1{
    font-size: 36px;
    font-weight: 700;
}

h2, .h2{
    font-size: 24px;
    font-weight: 700;
}

h3, .h3{
    font-size: 18px;
}

h4, .h4{
    font-size: 12px;
}
/* End of Headings settings */

/* Navbar font modification */
.navbar-static-top{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}

.dropdown-menu > li > a{
    font-size: 16px;
    font-weight: 600;
}
/* End of Navbar font modification */
/* End of Common css */
.color_violet{
    color: #982582;
}

.for_organizations_first_section{
    background: #982582 url('http://bestja.d3.laboratorium.ee/img/1920/dlaorganizacji.jpg') no-repeat 50% 0%;
    color: #FFFFFF;
}

.checklist ul li{
    list-style: none;
}

.checklist ul li span{
    float: left;
    padding: 10px;
    background-color: #982582;
    font-size: 30px;
    color: #FFFFFF;
    margin-right: 30px;
    clear:left;
}

@media screen and (max-width: 768px) {
    .checklist > ul{
        -webkit-padding-start: 10px;
    }
}

.grey_section{
    background: #E8E8E8;
    color: #000000;
}

/* Centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}
/* End of Centered columns styles */
/* End of Common css */

/* UCW Theme module description */
.theme_description{
    overflow: hidden;
}
/* End of UCW Theme module description */


/* Home page*/
.container_under_categories a, .join_us_now a{
    color: #F59A1E;
}

.container_under_categories a:hover, .join_us_now a:hover{
    color: #982582;
}

.carousel_container{
    position: relative;
    max-width: 100%;
    padding-left: 0;
}

.carousel_title h1{
    text-align: center;
    line-height: 1.4em;  
    color: #FFFFFF;
    position: absolute;
    top: 40%;  
    left: 0;  
    right: 0;  
    bottom: 0;  
}

.carousel_title a, .carousel_title a:hover, .carousel-caption a, .carousel-caption a:hover{
    color: #FFFFFF;
    z-index: 10;
}

div.carousel .carousel-indicators li {
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

div.carousel .carousel-indicators .active {
    background-color: #fff;
}

.carousel-caption {
    right: 0;
    left: 0;
    bottom: 0;
    padding-bottom: 80px;
    letter-spacing: 3px;
    background-color: rgba(0,0,0,0.5);
}

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('./fonts/glyphicons-halflings-regular.eot');
    src: url('./fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./fonts/glyphicons-halflings-regular.woff') format('woff'), url('./fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon-menu-left:before {
    content: "\e257";
}

.glyphicon-menu-right:before {
    content: "\e258";
}

.carousel-control .glyphicon-menu-left,
.carousel-control .glyphicon-menu-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .glyphicon-menu-left {
    left: 50%;
    margin-left: -10px;
}
.carousel-control .glyphicon-menu-right {
    right: 50%;
    margin-right: -10px;
}

@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-menu-left,
    .carousel-control .glyphicon-menu-right {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        font-size: 50px;
    }
    .carousel-control .glyphicon-menu-left {
        margin-left: -15px;
    }
    .carousel-control .glyphicon-menu-right{
        margin-right: -15px;
    }
}

.carry_out_section{
    background: #982582 url('http://bestja.d3.laboratorium.ee/img/1920/stronaglowna2.jpg') no-repeat 50% 100%; 
    color: #FFFFFF;
}

.carry_out_section a:hover{
    color: #FF43DF;
}

.what_to_do p{
    color: #FFFFFF;
    position: absolute;
    left: 50px;
    bottom: 20px;
    width: 40%;
    z-index: 2;
}

@media screen and (max-width: 991px) {
    .what_to_do p{    
        left: 90px;    
    }
}

@media screen and (max-width: 767px) {
    .what_to_do p{    
        left: 70px;
    }
}

.ucw-grid-ico{
    position: absolute !important;
    top: 50%;
    width: 50% !important;
    margin: -25% 0 0 25%;
    opacity: 0;
}
/* End of home page*/

/* About us */
.first_section_about_us{
    background: #982582 url('http://bestja.d3.laboratorium.ee/img/1920/onas.jpg') no-repeat 50% 0%;
    background-size: auto 100%;
    color: #FFFFFF;
}

.simple_quote{
    background-color: #E8E8E8;
}

.simple_quote h3{
    color: #982582;
}
/* End of about us*/

/* For Organizations*/
.step_of_registration_section{
    background: #009D93;
    color: #FFFFFF;
}

.step_of_registration_section h1{
    color: #FFFFFF;
}
/* End of for Organizations*/

/* Become volunteeer*/
.become_volunteer_first_section{
    background: #982582 url('http://bestja.d3.laboratorium.ee/img/1920/zostan_wolontariuszem1.jpg') no-repeat 50% 0%;
    color: #FFFFFF;
}

.become_volunteer_qualifications_section{
    background: #982582 url('http://bestja.d3.laboratorium.ee/img/1920/zostan_wolontariuszem2.jpg') no-repeat 50% 0%;
    color: #FFFFFF;
}

.become_volunteer_join_us_section{
    background: #982582 url('http://bestja.d3.laboratorium.ee/img/1920/zostan_wolontariuszem3.jpg') no-repeat 50% 0%;
    color: #FFFFFF;
}

.who_can_be_volunteer{
    background-color: #982582;
    color: #FFFFFF;
}

.who_can_be_volunteer h2{
    color: #FFFFFF;
}

.law_aspects a, .volunteering_in_net a{
    color: #F59A1E;
}

.law_aspects a:hover, .volunteering_in_net a:hover{
    color: #982582;
}

.like_write li{
    list-style: none;
}

.like_write span{
    float: left;
}

.like_write h1{
    color: #009D93;
}

.like_write h2{
    font-weight: normal;
}

.like_write img{
    width: 120px;
    margin-right: 40px;
}

.like_write a:hover h1{
    color: #982582;
}

.step_of_registration h2, .step_of_registration p{
    z-index: 2;
}

.steps_of_cooperation_background_number{
    position: absolute;
    font-size: 200px;
    font-weight: bold;
    opacity: 0.1;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-width: 767px) {
    .steps_of_cooperation_background_number{
        font-size: 150px;
    }
}
/* End of become volunteeer*/

/* Quotes */
.quote_picture_on_right, .quote_picture_on_left{
    height: 222px;
    padding: 5px 25px;
    background-color: #009D93;
}

.quote_picture_on_right h2, .quote_picture_on_left h2{
    font-weight: 400;
    line-height: 1.5em;
    color: #FFFFFF;
}

.quote_picture_on_right p, .quote_picture_on_left p{
    font-size: 18px;
    position: absolute;
    right: 100px;
    bottom: 10px;
    color: #FFFFFF;
}
@media screen and (max-width: 767px) {
    .quote_picture_on_right, .quote_picture_on_left{
        height: auto;
    }
    
    .quote_picture_on_right p, .quote_picture_on_left p{
        position: relative;
        right: auto;
        bottom: auto;
    }
}
/* End of quotes */

/* Navigation buttons */
.nav-pills > li.active > a, .nav-pills > li.active > a:focus{
    background-color: #982582;
    border-radius: 0;
}

.nav-pills > li.active > a:hover{
    background-color: #009D93;
}

.nav-pills > li > a, .nav-pills > li > a:focus{
    background-color: #EEEEEE;
    color: #696969;
    border-radius: 0;
}

.nav-pills > li > a:hover{
    background-color: #009D93;
    color: #FFFFFF;
}

.regulations_nav{
    position: fixed;
}

.regulations_nav li{
    margin-right: 40%;
}

.regulations_nav > li.active > a, .regulations_nav > li.active > a:focus{
    background-color: #F59A1E;
    border-radius: 0;
}

.regulations_nav > li.active > a:hover{
    background-color: #982582;
}

.regulations_nav > li > a, .regulations_nav > li > a:focus{
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 0;
}

.regulations_nav > li > a:hover{
    background-color: #982582;
    color: #FFFFFF;
}

@media screen and (max-width: 991px) {
    .regulations_nav{
        position: relative;
    }
    .regulations_nav li, .regulations_nav li + li{
        float: left;
        margin-top: 8px;
        margin-right: 25px;
    }

    .regulations_nav > li > a{
        display: inline-block;
    }
}
/* End of navigation buttons */

/* Team site */
.team_site img{
    max-height: 400px;
    max-width: 450px;
}
/* End of team site */

/* Contact us page*/
.contact_us_tel_email span{
    color: #009D93;
}
/* End of contact us page*/