/* Footer */
footer{
    display: block;
    padding-top: 20px;
    min-height: 250px;
    background-color: #000000;
    font-family: 'Ubuntu', sans-serif;
}

.footer_logo_container{
    width: 100%;
}

.footer_logo{
    width: 195px;
    height: 130px;
}

.footer_logo a{
    display: block;
    width: 100%;
    height:  65px;
}

.footer_logo a img{
    height: 100%;
}

@media screen and (max-width: 767px) {
    .footer_logo{
        margin-right: auto;
        margin-left: auto;
    }
}

.design_by, .copyrights{
    font-size: 12px;
    display: block;
    color: #767676;
}

@media screen and (max-width: 991px) {
    footer .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
}

.footer_icons ul, .footer_icons_narrower ul{
    padding-left: 0;
}

.footer_icons li{
    list-style: none;
    line-height: 40px;
    padding-bottom: 20px;
    height: 60px;
}

.footer_icons_narrower li{
    list-style: none;
    line-height: 40px;
    padding-bottom: 20px;
    height: 40px;
    margin-left: calc(50% - 97.5px);
}

.footer_icons img, .footer_icons_narrower img{
    width: 25px;
    margin-right: 20px;
}

.footer_info_pages, .footer_address{
    padding-left: 0;
}

.footer_info_pages li{
    color: #FC8F06;
    list-style: none;
    padding-bottom: 12px;
}

.footer_info_pages_narrower{
    padding-left: 0;
}

.footer_info_pages_narrower li{
    color: #FC8F06;
    list-style: none;
    padding-bottom: 8px;
    margin-left: calc(50% - 32.5px);
}

.footer_address li{
    color: #767676;
    list-style: none;
    padding-bottom: 12px;
}

.footer_address span{
    color: #F59A1E;
}

.footer_icons_narrower .design_by_container,
.footer_icons_narrower .copyrights_container{
    height: 20px;
}
/* End of footer */

